<div class="container">
  <h2>Menu</h2>
  <div class="list-group">
    <button type="button" class="list-group-item" onclick="location.href='<%= transactions_path %>';">
      Transactions
    </button>
    <button type="button" class="list-group-item">Assets
      <a href="#">
    </button>
  </div>
</div>